<div class="card">
    <div class="card-header filter-header">
      <div class="float-left">Keywords filter</div>
      <div class="float-right clickable" (click)="editCard()"><i class="fa-regular fa-pen-to-square"></i></div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label for="ref">Keyword list</label>
            <input [disabled]="disabled" type="text" class="form-control" id="ref" aria-describedby="refhelp"
                [(ngModel)]="keywords">
        </div>
    </div>
  </div>
