<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Enter endmembers data for mixing</h4>
    <span class="fa-solid fa-circle-info" style="color: darkgreen;"
        ngbPopover="You can define 2 or 3 endmembers to calculate a mixing process to be used as a comparison with other models. Each endmember is described by a ‘sample name’ (useful for labelling the sample), the description of the element or isotopic ratio, the numerical value of the latter and, in the case of an isotopic ratio only, the concentration value of the related element"
        triggers="mouseenter:mouseleave"></span>&nbsp;
</div>
<div class="modal-body">
    <div *ngFor="let em of endMembers; index as i ">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <label><span style="font-weight: bold; color: blue;">Sample name</span></label>
                <input type="text" class="form-control" id="samplename" placeholder="Sample name"
                    [(ngModel)]="em.sampleName" [disabled]="i > 1 && !include">
            </div>
            <div class="col-sm-12 col-md-6" *ngIf="i > 1" style="margin-top:2.1em;">
                <input type="checkbox" [(ngModel)]="include" (click)="include = !include"> Include third endmember 
            </div>
        </div>

        <div class="row" style="margin-bottom: 0.5em;">
            <div class="col-sm-12 col-md-4">
                <label>Element</label>
                <input type="text" class="form-control" [(ngModel)]="em.items[0].element" [disabled]="i > 1 && !include">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Value</label>
                <input type="number" class="form-control" [(ngModel)]="em.items[0].value" [disabled]="i > 1 && !include">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Element concentration</label>
                <input type="text" class="form-control" [(ngModel)]="em.items[0].cValue" [disabled]="i > 1 && !include">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <label>Element</label>
                <input type="text" class="form-control" [(ngModel)]="em.items[1].element" [disabled]="i > 1 && !include">
            </div>            
            <div class="col-sm-12 col-md-4">
                <label>Value</label>
                <input type="number" class="form-control" [(ngModel)]="em.items[1].value" [disabled]="i > 1 && !include">
            </div>
            <div class="col-sm-12 col-md-4">
                <label>Element concentration</label>
                <input type="number" class="form-control" [(ngModel)]="em.items[1].cValue" [disabled]="i > 1 && !include">
            </div>
        </div>
        <div class="row" style="height: 0.5em"></div>        

    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-outline-dark" (click)="confirm()">Confirm</button>
</div>