<div class="application-frame">
    <div>
        <app-end-member [members]="params?.endMembers" (outMember)="getAnalyzedMembers($event)"
            (onSelect)="getSelected($event)"></app-end-member>
    </div>
    <div class="w95 centered" *ngIf="!!computables">
        <div *ngFor="let c of computables">
            <div class="mt-2 mb-2">
                <button type="button" class="btn btn-outline-primary" *ngIf="!!c.active"
                    (click)="onMemberSelection(c)">End member: <strong>{{ c.endMemberName }}</strong></button>
                <button type="button" class="btn btn-outline-secondary" *ngIf="!c.active"
                    (click)="onMemberSelection(c)">End member: {{ c.endMemberName }}</button>
            </div>
            <div class="row mt-2 underlined">
                <div class="col-3">{{ c.elementName }}</div>
                <div class="col-2">{{ c.elementValue }}</div>
                <div class="col-2"><input class="clickable" type="checkbox" #ratio (change)="onRatio($event, c)"
                        [disabled]="c.elementValue.length === 0"> ratio
                        <span class="fa-solid fa-circle-info" style="color: darkgreen;" ngbPopover="If checked allow you to evaluate a ratio between two elements" triggers="mouseenter:mouseleave"></span>
                </div>
                <div class="col-3">{{ c.concentration? c.concentration : '' }}</div>
                <div class="col-2">{{ c.concentrationValue? c.concentrationValue : '' }}</div>
            </div>
        </div>

    </div>
    <div class="w95 centered mt-2">
        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="step">Increment <span class="fa-solid fa-circle-info" style="color: darkgreen;" ngbPopover="The increment of the weight proportion of the end member in the mixture" triggers="mouseenter:mouseleave"></span></label>
                    <input type="number" data-bs-input class="form-control" id="step" min="0.01" max="1.0" step="0.01"
                        [(ngModel)]="step">
                </div>                
            </div>
            <div class="col-10 text-right">
                <button class="btn btn-secondary m-1" (click)="close()"><i class="fa-solid fa-xmark"></i> Close</button>
                <button class="btn btn-secondary m-1" (click)="reset()"><i class="fa-solid fa-rotate"></i>
                    Reset</button>
                <button class="btn btn-secondary m-1" (click)="add()" [disabled]="!addReady"><i
                        class="fa-solid fa-plus"></i> Add</button>
                <button class="btn btn-primary m-1" (click)="submit()" [disabled]="!submitOn"><i
                        class="fa-solid fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
    <div *ngIf="!!result">
        <div class="w95 centered mt-2 scrollable" style="max-width: 95%" *ngIf="resultReady">
            <table class="centered">
                <tr *ngFor="let res of outResult">
                    <ng-template ngFor let-cell [ngForOf]="res.row" let-i="index">
                        <td class="evidence p-1" *ngIf="i === 0">{{ cell }}</td>
                        <td class="text-right p-1" *ngIf="i > 0">{{ cell }}</td>
                    </ng-template>
                </tr>
            </table>
        </div>
        <div class="w95 centered mt-2 text-right"><button class="btn btn-primary m-1" (click)="export()"><i
                    class="fa-solid fa-download"></i> Export</button></div>
    </div>
</div>