table {
    border: solid 1px lightgray;
    border-bottom: 0px !important;
    border-right: 0px !important;
}

td, th {
    max-width: 100%;
    white-space: nowrap;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

.underlined {
    border-bottom: solid 1px lightgray;
}
