<div>
  <div class="w95 centered mt-1 scrollable" style="max-height: 30em;">
    <table #maingrid class="table table-bordered table-hover" *ngIf="tableOn === true" style="font-size: small;">
      <thead class="thead-light">
        <ng-template ngFor let-h [ngForOf]="gridHeader">
          <th scope="col" *ngIf="h.visible === true">
            <div class="header-color inline-block selected" *ngIf="h.selected === true">{{ h.content }}</div>
            <div class="header-color inline-block" *ngIf="h.selected === false">{{ h.content }}</div>
            <div class="inline-block clickable header-menu-button" *ngIf="h.check === false"
              (click)="displayMenu(h, $event)"><i class="fa-solid fa-bars"></i>
              <datalist></datalist>
            </div>
          </th>
        </ng-template>
      </thead>
      <tr *ngFor="let r of screenRows">
        <ng-template ngFor let-e [ngForOf]="r">
          <td scope="col" *ngIf="e.visible === true" class="clickable" (click)="onCheck(e)"
            [style.background]="e.selected ? 'orange' : 'white'">
            <span *ngIf="e.check === false" class="p-0 transparent clickable">{{ e.content }}</span>
          </td>
        </ng-template>
      </tr>
    </table>
  </div>
  <div class="w95 centered text-right mt-2">
    <div class="float-left" *ngIf="table && table.length > 0">found {{ table.length }} records. {{ screenRows.length }} displayed.</div>
    <button class="btn btn-primary m-1" [disabled]="index <= 0" (click)="up()"><i class="fa-regular fa-circle-up"></i></button>
    <button class="btn btn-primary m-1" [disabled]="downOk === false" (click)="down()"><i class="fa-regular fa-circle-down"></i></button>
    <button class="btn btn-primary m-1" [disabled]="selectedRowsIndex.length <= 0" (click)="use()">Use selected
      data</button>
    <button class="btn btn-primary m-1" [disabled]="deleteFlag === false" (click)="restoreAll()">Restore all</button>
  </div>
</div>