.endmember {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2px;
    padding-bottom: 2px;
}

table {
    border: solid 1px lightgray;
    border-bottom: 0px !important;
    border-right: 0px !important;
}

td, th {
    max-width: 100%;
    white-space: nowrap;
    border-right: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
}

thead {
    background-color: lightgray;
}