<div class="scrollable centered" style="max-width: 95%; max-height: 40%; border: 1px solid lightgray; padding: 1px;">
    <div *ngFor="let em of endMembers">
        <span class="endmember field-back">{{ em.name }}</span>
        <table>
            <thead>
                <th *ngFor="let item of em.member">
                    {{ item.name }}
                    <!-- <span *ngIf="item.type === 'C'" class="chem">{{ item.name }}</span>
                    <span *ngIf="item.type === 'I'" class="isotope">{{ item.name }}</span> -->
                </th>
            </thead>
            <tr>
                <td *ngFor="let item of em.member" class="clickable" (click)="onClick(item, em.name)">
                    <span style="background-color: orange;" *ngIf="true === item.selected">{{ item.value }}</span>
                    <span *ngIf="!item.selected">{{ item.value }}</span>
                    <!-- <span *ngIf="item.type === 'C'" class="chem">{{ item.value }}</span>
                    <span *ngIf="item.type === 'I'" class="isotope">{{ item.value }}</span> -->
                </td>
            </tr>
        </table>
    </div>
</div>