<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page">
    <!-- <div class="w95 centered data-gathering-header">
        <div class="step">Query filter</div>
    </div> -->
    <div class="w95 centered">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <app-card-ref></app-card-ref>
              </div>
              <div class="col-sm">
                <app-card-authors></app-card-authors>
              </div>
              <div class="col-sm">
                <app-card-geo></app-card-geo>
              </div>
            </div>
          </div>

    </div>
</div>