<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page">
    <!-- <div class="w95 centered data-gathering-header">
        <div class="step">Query filter</div>
    </div> -->
    <div class="w95 centered data-gathering-header row mb-1">
      <div class="col-8">Enter search criteria, then press 'Submit' button</div>
      <div class="col-4">
        <button class="btn btn-primary m-1 float-right">Submit</button> 
        <button class="btn btn-secondary m-1 float-right" (click)="resetFilters()">Reset filters</button></div>
    </div>
    <div class="w95 centered">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <app-card-ref></app-card-ref>
              </div>
              <div class="col-sm">
                <app-card-authors></app-card-authors>
              </div>
              <div class="col-sm">
                <app-card-keywords></app-card-keywords>
              </div>
            </div>
          </div>

    </div>
</div>