<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page" @fade>
    <div class="w95 centered data-gathering-header">
        <div class="step">Sample definition</div>
        <div class="data-gathering-nav">
            <span class="far fa-arrow-alt-circle-left" (click)="goPrevious()"></span>&nbsp;
            <span class="far fa-arrow-alt-circle-right" (click)="goNext()"  [style.color]="dataComposed === false ? 'lightgray' : 'black'"></span>
        </div>
    </div>
    <div class="centered w95">
        <p>Select the fields defining the sample. Select also the chemical elements/isotopes if available.</p>
    </div>
    <div class="centered w95 h50 scrollable" *ngIf="row.length > 0">
        <div>Mark all as:</div>
        <div>
            <input name="selector" class="form-check-input" type="radio" value="1" (click)="markAll(1)"><span
                class="field"> Sample field</span>&nbsp;
            <input name="selector" class="form-check-input" type="radio" value="2" (click)="markAll(2)"><span
                class="chem"> Chem. element</span>&nbsp;
            <input name="selector" class="form-check-input" type="radio" value="4" (click)="markAll(4)"><span
                class="isotope"> Isotope</span>&nbsp;
            <input name="selector" class="form-check-input" type="radio" value="3" (click)="markAll(3)" checked> None
        </div>
        <table cellspacing="1" class="centered">
            <tr *ngFor="let s of row">
                <td width="50%"><span #fields class="rounded" [style.background-color]="styles[s]">{{ s }}</span></td>
                <td width="50%">
                    <input #samplefield name="{{ s }}" class="form-check-input" type="radio" value="1"
                        (click)="setStyle(s, 1)"><span class="field"> Sample field</span>&nbsp;
                    <input #chemelement name="{{ s }}" class="form-check-input" type="radio" value="2"
                        (click)="setStyle(s, 2)"><span class="chem"> Chem. element</span>&nbsp;
                    <input #isotope name="{{ s }}" class="form-check-input" type="radio" value="4"
                        (click)="setStyle(s, 4)"><span class="isotope"> Isotope</span>&nbsp;
                    <input #none name="{{ s }}" class="form-check-input" type="radio" value="3" (click)="setStyle(s, 3)"
                        checked> None
                </td>
            </tr>
        </table>
    </div>
    <div class="w95 text-right">
        <button type="button" class="btn btn-primary" (click)="updateSamples()" [disabled]="!enableButton()">Set/update fields</button>
        <!-- <button type="button" class="btn btn-success" (click)="saveSamples()">Upload</button> -->
    </div>

</div>