<app-header>[initialStatus]="'transitionLeft'"></app-header>
<div class="application-page" @fade>
    <div class="w95 centered data-gathering-header">
        <div class="step">Field separator</div>
        <div class="data-gathering-nav">
            <span class="far fa-arrow-alt-circle-left data-gathering-arrows" (click)="goPrevious()"></span>&nbsp;
            <span class="far fa-arrow-alt-circle-right data-gathering-arrows" (click)="goNext()"></span>
        </div>
    </div>

    <div class="w95 centered">

    </div>
</div>
