<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ (!!params && !!params.headerText) ? params.headerText : '' }}</h4>
</div>
<div class="modal-body">

    <div *ngIf="dataSeries.xAxis.length === 0 || dataSeries.yAxis.length === 0">
        <div class="task">Choose X axis and Y axis, then click the button.</div>
        <div class="row" *ngIf="dataSeries.xAxis.length === 0 || dataSeries.yAxis.length === 0">
            <div class="col-5">
                X:
                <select class="form-select" [(ngModel)]="xSelected" aria-placeholder="x axis">
                    <option *ngFor="let x of xAxis">{{ x }}</option>
                </select>
            </div>
            <div class="col-5">
                Y:
                <select class="form-select" [(ngModel)]="ySelected" aria-placeholder="x axis">
                    <option *ngFor="let y of yAxis">{{ y }}</option>
                </select>
            </div>
            <div class="col-2">
                <button (click)="newSeries()" class="btn btn-primary" type="button"
                    [disabled]="xSelected.length === 0 || ySelected.length === 0"><i
                        class="fa-regular fa-square-plus"></i></button>
            </div>
        </div>
    </div>
    <div *ngIf="dataSeries.xAxis.length > 0 && dataSeries.yAxis.length > 0">
        <div class="task">Click the button to reset all data.</div>
        <div class="row" *ngIf="dataSeries.xAxis.length > 0 && dataSeries.yAxis.length > 0">
            <div class="col-5">
                X axis: <strong>{{ dataSeries.xAxis }}</strong>
            </div>
            <div class="col-5">
                Y axis: <strong>{{ dataSeries.yAxis }}</strong>
            </div>
            <div class="col-2">
                <button (click)="resetSeries()" class="btn btn-primary" type="button"
                    [disabled]="xSelected.length === 0 || ySelected.length === 0"><i
                        class="fa-regular fa-circle-xmark"></i></button>
            </div>
        </div>
    </div>
    <div>
        <div class="task mt-2">Data definition: {{ params?.anyParams.selection.length }} points to assign <span
                class="float-right"><button type="button" class="btn btn-secondary" (click)="addDataSeries()"><i
                        class="fa-regular fa-plus"></i></button></span></div>
        <div *ngIf="dataSeries.xAxis.length > 0 && dataSeries.yAxis.length > 0 && dataSeries.series.length > 0">
            <table class="table table-bordered table-hover w95 centered">
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>#Points</th>
                    <th><button type="button" class="btn btn-outline-dark table-ctrl" [disabled]="!pointButtonEnabled"
                            (click)="addDataToSeries()">Add points to selection</button></th>
                </tr>
                <tr *ngFor="let ds of dataSeries.series, index as i"
                    [style.background]="ds.selected ? 'orange' : 'white'" (click)="select(ds)" class="clickable">
                    <td><input class="table-input table-ctrl" type="text" [value]="ds.name? ds.name : ''"
                            [(ngModel)]="dataSeries.series[i].name"> </td>
                    <td><input class="table-input-color" type="color" value="#ff0000"
                            [(ngModel)]="dataSeries.series[i].shape.color"> </td>
                    <td>{{ dataSeries.series[i].data.length }}</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
    <button type="button" class="btn btn-success" (click)="set()"
        [disabled]="dataSeries.series.length <= 0">Save</button>
    <button type="button" class="btn btn-primary" (click)="plot()"
        [disabled]="dataSeries.series.length <= 0">PLOT!</button>
</div>